.sider {
    
    position: absolute;
    width: 57px;
    height: 768px;
    left: 0px;
    top: 0px;

    background: #4FA1C1;
    border-radius: 0px 20px 20px 0px;
}

.layout {

    position: relative;
    width: 1366px;
    height: 768px;

    background: linear-gradient(0deg, #F2F2F2, #F2F2F2);
}

.iconMenuUp {

    position: absolute;
    width: 57px;
    height: 41px;
    left: 0px;
    top: 50px;

    background: #FFFFFF;
}

.miniRetangule {

    position: absolute;
    width: 5px;
    height: 32px;
    left: 0px;
    top: 281px;

    background: rgba(255, 255, 255, 0.93);
}

.iconMenuFirst {

    position: absolute;
    width: 19px;
    height: 22px;
    left: 20px;
    top: 230px;
    margin-top: 4px;
}

.iconMenuSecond {

    position: absolute;
    width: 19px;
    height: 22px;
    left: 20px;
    top: 287px;
    margin-top: 3px;
}

.iconMenuThird {

    position: absolute;
    width: 19px;
    height: 22px;
    left: 20px;
    top: 344px;
    margin-top: 2.5px;
}

.iconMenuFourth {

    position: absolute;
    width: 19px;
    height: 22px;
    left: 20px;
    top: 398px;
    margin-top: 3.5px;
}

.iconMenuFiveth {

    position: absolute;
    top: 418.7px;
    left: 35px;
    margin-left: 1.70px;
    margin-top: 1.37px;
    margin-bottom: 1.81px;
    font-size: 10.83px;
}

.iconMenuSixth {

    position: absolute;
    width: 19px;
    height: 22px;
    left: 20px;
    top: 456px;
    margin-top: 2.5px;
}

.iconMenuSeventh {

    position: absolute;
    width: 19px;
    height: 22px;
    left: 20px;
    top: 509px;
    margin-top: 3px;
}

.miniminiRetangule {

    position: absolute;
    left: 35px;
    top: 417px;
    background: #FFFFFF;
    border-radius: 4px;
}

.retanguleIconFirst {

    position: absolute;
    top: 225px;
    left: 13px;
    right: 12px;
    bottom: 24px;
    background: #FFFFFF;
    border-radius: 10px;
}

.retanguleIconSecond {

    position: absolute;
    top: 281px;
    left: 13px;
    right: 12px;
    bottom: 24px;
    background: #FFFFFF;
    border-radius: 10px;
}

.retanguleIconThird {

    position: absolute;
    top: 337px;
    left: 13px;
    right: 12px;
    bottom: 24px;
    background: #FFFFFF;
    border-radius: 10px;
}

.retanguleIconFourth {

    position: absolute;
    top: 393px;
    left: 13px;
    right: 12px;
    bottom: 24px;
    background: #FFFFFF;
    border-radius: 10px;
}

.retanguleIconFiveth {

    position: absolute;
    top: 449px;
    left: 13px;
    right: 12px;
    bottom: 24px;
    background: #FFFFFF;
    border-radius: 10px;
}

.retanguleIconSixth {

    position: absolute;
    top: 503px;
    left: 13px;
    right: 12px;
    bottom: 24px;
    background: #FFFFFF;
    border-radius: 10px;
}

.contentUp {

    position: absolute;
    width: 1242px;
    height: 159px;
    margin-left: 33px;
    margin-top: 33px;
    margin-right: 34px;
    background: #FFFFFF;
    box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.vector {
    position: absolute;
    left: 70.94%;
    right: 15.85%;
    top: 104.81%;
    bottom: -27.76%;

    background: #EDF1F5;
    transform: rotate(-90deg);
}

.text {

    position: absolute;
    margin-top: 26px;
    margin-left: 23px;
    margin-right: 6px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 122.2%;

    color: #707070;
}

.button {
    position: absolute;
    width: 194px;
    height: 32px;
    left: 1138px;
    top: 735px;
    margin-top: 13px;
    background: #4FA1C1;
    border-radius: 10px;
}


.iconItem {
    
    position: absolute;
    width: 70px;
    height: 70px;
    left: 119px;
    top: 58px;
    background: #4FA1C1;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.contentLeft {

    position: absolute;
    width: 447px;
    height: 484px;
    top: 225px;
    margin-top: 33px;
    margin-left: 34px;
    background: #FFFFFF;
    box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-bottom: 59px;
}

.userList {

    position: absolute;
    height: 484px;
    left: 573px;
    top: 225px;
    right: 34px;
    bottom: 59px;
    margin-top: 33px;
    margin-left: 35px;
    background: #FFFFFF;
    box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.logo {
    position: absolute;
    height: 148px;
    left: 55px;
    right: 284px;
    top: 363px;
    margin-bottom: 59px;
}